.post-preview-header {
    margin-bottom: 0px;
}

.post-preview-subheader {
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-preview-image {
    margin-top: 20px;
    width: 40%;
    float: right;
    padding: 0px 0px 10px 20px;

    @include mobile {
        width: 50%;
    }
}

.blurb-entry {
    display: block;
    margin-right: 20px;
    overflow: hidden;

    @include mobile {
        display: inline; 
        overflow: initial;
    }
}